<div class="topics_container">
    <h2 class="heading_h2 primary">Browse Topics</h2>

    <div class="topics">
        <div class="">
            <a href="{% url 'home_page' %}">All</a>
        </div>

        {% for topic in topics %}

            {% if selected_topic == topic %}
                <div class="">
                    <a href="{% url 'home_page' %}?q={{ topic.name }}" class="selected">{{ topic }}</a>
                </div>
            {% else %}
                <div class="">
                    <a href="{% url 'home_page' %}?q={{ topic.name }}">{{ topic }}</a>
                </div>
            {% endif %}

        {% endfor %}
    </div>
</div>