{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyBud</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>


<div class="wrapper">

    {% include 'navbar.html' %}

    {% if messages %}
        <div class="flash_messages_container">
            <div class="flash_messages">

                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}

                </ul>

            </div>
        </div>
    {% endif %}

    <main class="container mx-auto">
        {% block content %}
        {% endblock %}
    </main>


</div>

</body>
</html>