{% load static %}
<div id="navbar" class="mb-10 bg-slate-600 py-5">

    <div class="navbar_container">

        <a href="{% url 'home_page' %}">
            <img src="{% static 'images/logo.svg' %}" alt="" width="130">
        </a>

        <div class="mx-5 flex flex-1 justify-center lg:mx-36">
            <form method="get" action="{% url 'home_page' %}" class="w-full">
                <input type="text" name="q" placeholder="Search for rooms..." class="w-full">
            </form>
        </div>


        <div class="flex items-center gap-5">
            {% if request.user.is_authenticated %}
                <p class="text-white">Hello {{ request.user }}</p>
                <a href="{% url 'logout' %}" class="text-white btn primary">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="text-white btn primary">Login</a>
            {% endif %}
        </div>

    </div>


</div>