@tailwind base;
@tailwind components;
@tailwind utilities;


/* base variables */
.primary {
    @apply text-blue-600;
}

.secondary {
    @apply text-amber-400;
}

.heading_h1 {
    @apply text-3xl font-bold mb-5;
}

.heading_h2 {
    @apply text-xl font-bold mb-3;
}

/* ------------------------------------------------------------------------- */

/* base */
body {
    @apply bg-slate-50;
}


/* flash message section */
.flash_messages_container {
    @apply container mx-auto flex justify-center mb-5;
}

.flash_messages {
    @apply px-5 py-3 rounded;
    @apply bg-red-100 text-red-600;
}


/* header: navbar */
.navbar_container {
    @apply container mx-auto flex items-center w-full;
}


/* login page */
.login_container, .register_container {
    @apply w-[36rem] mx-auto p-10;
    @apply bg-slate-200;
    @apply rounded;
}


.home_container {
    @apply flex gap-10;
}


/* topics */
.topics_container {
}

.topics {
    @apply flex flex-col gap-1;
}

.topics a {
    @apply flex px-2 py-1 rounded;
    @apply hover:bg-blue-200;
    @apply transition-all;
}

.topics a.selected {
    @apply bg-blue-200;
}


/* ------------------------------------------------------------------------- */

/* form */
.btn {
    @apply flex items-center justify-center;
    @apply px-3 py-2;
    @apply uppercase;
    @apply rounded;
    @apply transition-all;
}

.btn.primary {
    @apply bg-blue-500 hover:bg-blue-600;
    @apply text-white;
}

.btn.link {
    @apply hover:underline;
}

.btn.link.primary {
    @apply text-blue-800;
    @apply bg-inherit;
}


input {
    @apply px-3 py-2;
    @apply border border-slate-300;
    @apply rounded;
    @apply outline-none focus:ring-1 focus:ring-slate-300;
}

.input_group {
    @apply flex flex-col;
    @apply mb-5;
}

.input_group > label {
    @apply text-sm;
}