{% extends 'main.html' %}

{% block content %}


    <form method="post">
        {% csrf_token %}
        <p>Are you sure to delete "{{ obj }}"?</p>

        <a href="{{ request.META.HTTP_REFERER }}">Back</a>

        <button type="submit">Confirm</button>

    </form>

{% endblock %}