{% extends 'main.html' %}


{% block content %}

    <main class="home_container">

        <div class="w-72 shrink-0">
            {% include 'base/components/topics.html' %}
        </div>

        <div class="flex-1">

            <div>
                <a href="{% url 'create_room' %}">Create room</a>
            </div>

            <div>{{ rooms_count }} rooms available</div>

            <ul>
                {% for room in rooms %}
                    <li>
                        <div>

                            <small>@{{ room.host.username }}</small>

                            <div>
                                <a href="{% url 'room_page' room.id %}">{{ room.id }}: {{ room.name }}</a>
                            </div>

                            <small>{{ room.topic }}</small>
                            {% if request.user == room.host %}
                                <div>
                                    <small>
                                        <a href="{% url 'update_room' room.id %}">EDIT</a>
                                        <a href="{% url 'delete_room' room.id %}">delete</a>
                                    </small>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </main>

{% endblock %}



