{% extends 'main.html' %}

{% block content %}

    <div class="login_container">

        <h1 class="heading_h1 primary">Login to StudyBuddy</h1>

        <form method="post" class="flex flex-col">
            {% csrf_token %}
            <div class="input_group">
                <label for="">Username</label>
                <input type="text" name="username" value="admin">
            </div>

            <div class="input_group">
                <label for="">Password</label>
                <input type="password" name="password" value="admin@123">
            </div>

            <div>
                <button type="submit" class="btn primary">Login</button>
            </div>

        </form>


        <div class="mt-10 text-center">
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}" class="btn link primary">Sign up</a>
        </div>

    </div>

{% endblock %}