{% extends 'main.html' %}

{% block content %}

    <div class="register_container">

        <h1 class="heading_h1 primary">Register new user</h1>

        <form method="post">
            {% csrf_token %}

            {% for field in form %}

                <div class="input_group">
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                    <small class="my-1">
                        {{ field.help_text }}
                    </small>
                </div>

            {% endfor %}


            <div>
                <button type="submit" class="btn primary">Register</button>
            </div>

        </form>


        <div>


            <div class="mt-10 text-center">
                <p>Already signed up?</p>
                <a href="{% url 'login' %}" class="btn link primary">Sign in</a>
            </div>
        </div>

    </div>

{% endblock %}