{% extends 'main.html' %}


{% block content %}

    <style>
        .room-container {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>


    <div class="room-container">


        <div>

            <header>
                <h2>{{ room.name }}</h2>
                <p>{{ room.description }}</p>
                <p>Hosted by
                    <a href="#">@{{ room.host }}</a>
                    under
                    <a href="{% url 'home_page' %}?q={{ room.topic }}">{{ room.topic }}</a>
                </p>
                <hr>
            </header>


            <div class="comments-wrapper">
                <h3>Conversations</h3>

                {{ room_messages }}

            </div>

        </div>

        <div>
            <h3>Participants</h3>
            <hr>
        </div>

    </div>

{% endblock %}
