{% extends 'main.html' %}


{% block content %}

    <div>

        <form method="post">
            {% csrf_token %}


            <table>
                {{ form }}
            </table>

            <button type="submit">Save</button>

        </form>

    </div>

{% endblock %}